body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: rgb(0, 77, 77);
	background-size: cover;
}

.login-box{
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background-color: rgb(0, 77, 77);
}

.signup-box{
	width: 400px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background-color: rgb(0, 77, 77);
}

.login-box h1{
	float: left;
	font-size: 32px;
	border-bottom: 6px solid;
	margin-bottom: 40px;
	padding: 13px 0;
}

.signup-box h1{
	font-size: 32px;
	border-bottom: 4px solid;
	margin-bottom: 40px;
	padding: 13px 0;
	text-align: center;
}

.login-box p a, .signup-box p a{
	color: white;
}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid;
}

.textbox i{
	width: 50px;
	float: left;
	text-align: center;
}

.textbox input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}

.loginbtn{
	width: 100%;
	background: none;
	border: 2px solid;
	border-radius: 5px;
	color: #4CAF50;
	padding: 8px;
	font-size: 18px;
	cursor: pointer;
	margin: 15px 0; 
}

.loginbtn:hover{
	background-color: #4CAF50;
	color: white;
}

.signupbtn{
	width: 100%;
	background: none;
	border: 2px solid;
	border-radius: 5px;
	color: #4CAF50;
	padding: 8px;
	font-size: 18px;
	cursor: pointer;
	margin: 8px 0; 
}

.cancelbtn{
	width: 100%;
	background: none;
	border: 2px solid;
	border-radius: 5px;
	color: red;
	padding: 8px;
	font-size: 18px;
	cursor: pointer;
	margin: 8px 0; 
}

.signupbtn:hover{
	background-color: #4CAF50;
	color: white;
}

.cancelbtn:hover{
	background-color: red;
	color: white;
}